.todoBox {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.smallStar {
  font-size: 20px;
  color: red;
  padding-right: 10px;
  font-weight: 700;
}
.padRight {
  padding-right: 10px;
  width: 100px;
}